MARIADB_DATABASE = 
MARIADB_USER = 
MARIADB_PASSWORD = 
MARIADB_ROOT_PASSWORD = 


SPRING_DATASOURCE_URL = 
SPRING_DATASOURCE_USERNAME = 
SPRING_DATASOURCE_PASSWORD = 


SERVER_SSL_KEY_STORE_PASSWORD = 
SERVER_SSL_KEY_STORE = 